div.container{
  width: 60%;
  padding: 20px;
  margin: 10px auto;
  resize: both;
  overflow: auto;
  background: #F8F8FF;
}
div.banner{
border: 10px solid #888;
border-radius: 12px;
margin-bottom: 0px
}
div.content{
  margin: 0 auto;
  resize: both;
  overflow: auto;
}
h1 {
	   text-align: left;
       font-size: 26pt;
       color: #000099;
       margin-left: 5px;
	   font-family: Arial, Helvetica, sans-serif;
	   text-decoration: underline;
}
h2 {
	   text-align: left;
       font-size: 23pt;
       color: #000099;
       margin-left: 5px;
	   font-family: Arial, Helvetica, sans-serif;
	   text-decoration: underline;
}
h3 {
	   text-align: left;
       font-size: 20;
       color: #000099;
       margin-left: 5px;
	   font-family: Arial, Helvetica, sans-serif;
	   text-decoration: underline;
}
p.p1{
	   text-align: left;
       font-size: 12pt;
       color: #000000;
       margin-left: 16px;
	   font-family: Arial, Helvetica, sans-serif;
	   border: 5px solid black;
	   background-color: grey;
	   border: 5px solid black;
	   border-spacing: 15 px;
	   border-collapse: separate;
}
p.p2{
	   text-align: left;
       font-size: 12pt;
       color: #000000;
       margin-left: 16px;
	   font-family: Arial, Helvetica, sans-serif;
	   border: 5px solid black;
	   background-color: grey;
	   border: 5px solid black;
	   border-spacing: 15 px;
	   border-collapse: separate;
}
p.p3{
	   text-align: left;
       font-size: 12pt;
       color: #000000;
       margin-left: 16px;
	   font-family: Arial, Helvetica, sans-serif;
	   border: 5px solid black;
	   background-color: grey;
	   border: 5px solid black;
	   border-spacing: 15 px;
	   border-collapse: separate;
}
a:hover {
  text-decoration: underline;
  color: green;
}